<div data-ng-controller="AuthenticationController">

  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2" >
    <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label for="username">Nombre Usuario</label>
          <input type="text" id="username" name="username" class="form-control"
               data-ng-model="credentials.username" placeholder="Nombre Usuario">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password" class="form-control"
               data-ng-model="credentials.password" placeholder="Contraseña">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Inciar Sesión</button>
          &nbsp; o&nbsp;
          <a data-ui-sref="authentication.signup">Regístrese</a>
        </div>
        <!--<div class="text-center forgot-password">
          <a data-ui-sref="password.forgot">¿Olvidó su contraseña?</a>
        </div>-->
        <alert type="danger" data-ng-show="error" class="text-center text-danger">
          <span data-ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<div align="center" style="background-color:#272727; position:absolute;bottom:0;width:100%;height:50px;">
<p style="color:white; padding:15px;">&copy; Realizado por Felix Lee</p>
</div>
